.head-banner {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg)
}

h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.banner1 {
    background-color: mediumspringgreen;
}

.banner2 {
    background-color: lightcoral;
}

.banner3 {
    background-color: skyblue;
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

h2 {
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
}
